<h1>Vous souhaitez modifier votre profil ?</h1>

<%= render 'corsairs/form' %>

<h2>Vous souhaitez supprimer votre profil ?</h2>

<td> <%= link_to "Supprimer votre profil", corsair_path(@corsair),
              method: :delete,
              data: { confirm: 'Etes-vous sûr ?' } %> </td>

<p> Pour retourner à la Home <%= link_to('Par ici!', corsairs_path) %> </p>  