<h2> Cher(e) <%= @corsair.first_name %> </h2>

<p> Il semblerait que tu as <%= @corsair.age %> ans ! </p>

<p> Ces infos sont fausses ? <%= link_to('Modifiez-les ici !', edit_corsair_path) %> </p> 

<p> Pour retourner à la Home <%= link_to('Par ici!', corsairs_path) %> </p> 